@*@model easyfis.Entities.MstUserForm*@
@{
    // =====================
    // User Rights Variables
    // =====================
    //var canAdd = Model.CanAdd;
    //var canEdit = Model.CanEdit;
    //var canDelete = Model.CanDelete;
    //var canLock = Model.CanLock;
    //var canUnlock = Model.CanUnlock;
    //var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>Product Detail</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <div class="container">
                <h3>
                    🙋 Client Detail
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        Options: Lock, Unlock, and Close Button
                    -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnClientDetailSave" onclick="saveClient()">💾 Save</button>
                            </div>
                            <div class="col-md-10" align="right">
                                <button class="btn btn-primary" id="btnClientDetailLock" onclick="lockClient()">🔒 Lock</button>
                                <button class="btn btn-primary" id="btnClientDetailUnlock" onclick="unlockClient()">🔓 Unlock</button>
                                <button class="btn btn-danger" id="btnClientDetailClose" onclick="closeClientDetail()">🗙 Close</button>
                            </div>
                        </div>
                    </div>

                    <!--
                        Details, Fields and Other Informations
                    -->
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpClientDetailClientCode" placeholder="Code" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Client</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpClientDetailClientName" placeholder="Client" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Address</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpClientDetailClientAddress" placeholder="Address" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Contact Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpClientDetailContactNumber" placeholder="Contact Number" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Contact Person</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpClientDetailContactPerson" placeholder="Contact Person" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:40px;">
                                <div class="col-md-2">
                                    <p>Created by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    <p>Updated by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        var isLocked = false;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // Get Client Detail Data
        function getClientDetailData() {
            Loader.show();

            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/client/detail/' + getURLParameterValue("id"),
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results != null) {
                            document.getElementById('inpClientDetailClientCode').value = results.ClientCode;
                            document.getElementById('inpClientDetailClientName').value = results.ClientName;
                            document.getElementById('inpClientDetailClientAddress').value = results.ClientAddress;
                            document.getElementById('inpClientDetailContactNumber').value = results.ContactNumber;
                            document.getElementById('inpClientDetailContactPerson').value = results.ContactPerson;
                            document.getElementById('createdBy').innerHTML = results.CreatedBy;
                            document.getElementById('createdDate').innerHTML = results.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = results.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = results.UpdatedDateTime;

                            if (results.IsLocked) {
                                document.getElementById('inpClientDetailClientCode').disabled = true;
                                document.getElementById('inpClientDetailClientName').disabled = true;
                                document.getElementById('inpClientDetailClientAddress').disabled = true;
                                document.getElementById('inpClientDetailContactNumber').disabled = true;
                                document.getElementById('inpClientDetailContactPerson').disabled = true;

                                $('#btnClientDetailSave').prop('disabled', true);
                                $('#btnClientDetailLock').prop('disabled', true);

                                isLocked = true;
                            } else {
                                $('#btnClientDetailUnlock').prop('disabled', true);
                            }
                        } else {
                            alert("No Data");
                            window.location = "/Software/ClientList";
                        }
                    }
                });
            } else {
                alert("No Id Parameter Value");
                window.location = "/Software/ClientList";
            }
        }

        // Client Data Object
        function clientDataObject() {
            var clientObject = new Object();
            clientObject.ClientCode = document.getElementById('inpClientDetailClientCode').value;
            clientObject.ClientName = document.getElementById('inpClientDetailClientName').value;
            clientObject.ClientAddress = document.getElementById('inpClientDetailClientAddress').value;
            clientObject.ContactNumber = document.getElementById('inpClientDetailContactNumber').value;
            clientObject.ContactPerson = document.getElementById('inpClientDetailContactPerson').value;
            var data = JSON.stringify(clientObject);
            return data;
        }

        // Save Client
        function saveClient() {
            document.getElementById('btnClientDetailSave').innerHTML = "💾 Saving...";
            $('#btnClientDetailSave').prop('disabled', true);
            $('#btnClientDetailLock').prop('disabled', true);
            $('#btnClientDetailUnlock').prop('disabled', true);
            $('#btnClientDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/client/save/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: clientDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Save Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailSave').innerHTML = "💾 Save";
                        $("#btnClientDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnClientDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnClientDetailLock").prop("disabled", false);
                        }

                        $("#btnClientDetailClose").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailSave').innerHTML = "💾 Save";
                        $("#btnClientDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnClientDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnClientDetailLock").prop("disabled", false);
                        }

                        $("#btnClientDetailClose").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailSave').innerHTML = "💾 Save";
                        $("#btnClientDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnClientDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnClientDetailLock").prop("disabled", false);
                        }

                        $("#btnClientDetailClose").prop("disabled", false);
                    }
                },
            });
        }

        // Lock Client
        function lockClient() {
            document.getElementById('btnClientDetailLock').innerHTML = "🔒 Locking...";
            $('#btnClientDetailSave').prop('disabled', true);
            $('#btnClientDetailLock').prop('disabled', true);
            $('#btnClientDetailUnlock').prop('disabled', true);
            $('#btnClientDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/client/lock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: clientDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Lock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailLock').innerHTML = "🔒 Lock";
                        $('#btnClientDetailSave').prop('disabled', false);
                        $('#btnClientDetailLock').prop('disabled', false);
                        $('#btnClientDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailLock').innerHTML = "🔒 Lock";
                        $('#btnClientDetailSave').prop('disabled', false);
                        $('#btnClientDetailLock').prop('disabled', false);
                        $('#btnClientDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailLock').innerHTML = "🔒 Lock";
                        $('#btnClientDetailSave').prop('disabled', false);
                        $('#btnClientDetailLock').prop('disabled', false);
                        $('#btnClientDetailClose').prop('disabled', false);
                    }
                },
            });
        }

        // Unlock Client
        function unlockClient() {
            document.getElementById('btnClientDetailUnlock').innerHTML = "🔓 Unlocking...";
            $('#btnClientDetailSave').prop('disabled', true);
            $('#btnClientDetailLock').prop('disabled', true);
            $('#btnClientDetailUnlock').prop('disabled', true);
            $('#btnClientDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/client/unlock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Unlock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnClientDetailSave').prop('disabled', false);
                        $('#btnClientDetailUnlock').prop('disabled', false);
                        $('#btnClientDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnClientDetailSave').prop('disabled', false);
                        $('#btnClientDetailUnlock').prop('disabled', false);
                        $('#btnClientDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnClientDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnClientDetailSave').prop('disabled', false);
                        $('#btnClientDetailUnlock').prop('disabled', false);
                        $('#btnClientDetailClose').prop('disabled', false);
                    }
                }
            });
        }

        // Close Client
        function closeClientDetail() {
            window.location = '/Software/ClientList';
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            getClientDetailData();
            setTimeout(() => {
                Loader.hide();
            }, 1000);
        });
    </script>
    <div id="loader-overlay">
        <div class="loader-circle"></div>
    </div>
</body>
</html>