<footer class="footer-custom-userAuthentication">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>© 2021, Liteclerk Corporation</label>
            </div>
            <div class="col-md-6" align="right">
                <img src="~/Images/logo/liteclerklogo.png" height="27" />
            </div>
        </div>
    </div>
</footer>