* {
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

body {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 100%;
}
.navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    box-shadow: 0 0px 5px #1d3149;
    border-bottom: none;
    background-color: white;
}
    .navbar-default .nav > li > a {
        font-size: 16px;
        font-weight: 400;
        color: #1c6c74;
        font-family: 'Poppins', 'Open Sans', sans-serif;
    }
        .navbar-default .nav > li > a:hover {
            background-color: #1ddda8;
        }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #1c6c74;
        font-size: 14px;
    }
.navbar-brand > img {
    margin-top: 0px;
    height: 40px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #1c6c74;
    background-color: #1ddda8;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #1c6c74;
    text-decoration: none;
    background-color: #1ddda8;
}
.btn-primary {
    background: #149c7c !important;
    border-color: #1d7e74 !important;
}
    .btn-primary:hover {
        color: #fff;
        background-color: #24e0ad !important;
        border-color: #24e0ad !important;
    }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
        color: #fff;
        background-color: #24e0ad !important;
        border-color: #24e0ad !important;
    }
.btn-danger:hover {
    color: #fff;
    background-color: #d74b46 !important;
    border-color: #d74b46 !important;
}
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: #d74b46 !important;
    border-color: #d74b46 !important;
}
.panel-login {
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 91%;
}
.panel-login-default > .panel-login-heading {
    background-color: #f5f5f5;
    border-color: whitesmoke;
}
.panel-login-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-login-footer {
    padding: 10px 15px;
    background-color: whitesmoke;
    border-top: 1px solid whitesmoke;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}
body.account-body-custom {
    margin-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(#1c6c74, #3f9794);
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.panel-default {
    border-color: lightgray;
    border-radius: 5px;
}
.panel-theme {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.1s ease;
    text-align: center;
    padding: 15px;
    border-radius: 4px !important;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}
.text-left {
    text-align: left !important;
}
.dt-checkboxes {
    text-align: center !important;
    border-color:black;
}
table.table.dataTable > tbody > tr.selected > * {
    --dt-row-selected: 76, 225, 185;
    box-shadow: inset 0 0 0 9999px rgba(76, 225, 185, 0.95);
    color: black;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1EB38B;
    border-color: #1EB38B;
}
@media (min-width: 1200px) {
    .container {
        width: 1500px;
    }
}
div.dt-container div.dt-search input {
    margin-left: 0.5em;
    display: inline-block;
    width: 350px;
}
h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.date-wrapper {
    position: relative;
    width: 250px;
    padding-right: 10px;
}
.custom-date {
    width: 100%;
    padding: 10px 38px 10px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s border-color;
}

    .custom-date:focus {
        border-color: #329494;
        outline: none;
        box-shadow: 0 0 5px rgba(50, 148, 148, 0.3);
    }

.calendar-icon {
    position: absolute;
    right: 14px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #329494;
    pointer-events: none;
    opacity: 0.7;
}

.calendar-button {
    position: absolute;
    right: 12px;
    top: 72%;
    transform: translateY(-50%);
    font-size: 18px;
    background: transparent;
    border: none;
    color: #329494;
    cursor: pointer;
}
.flatpickr-calendar {
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.flatpickr-months {
    color: white;
}

.flatpickr-day.today {
    border: 1px solid #329494 !important;
}

.flatpickr-day.selected {
    background-color: #329494 !important;
    color: white;
}

.flatpickr-prev-month,
.flatpickr-next-month {
    color: #329494;
    padding: 5px;
    transition: color 0.2s, transform 0.2s;
    font-size: 1.2rem;
}
    .flatpickr-prev-month:hover,
    .flatpickr-next-month:hover {
        color: #267876;
        transform: scale(1.2);
        cursor: pointer;
    }

.combo-container {
    position: relative;
}

    .combo-container .dropdown-menu.combo-suggestions {
        min-width: 350px;
        white-space: nowrap;
        padding: 0;
    }

        .combo-container .dropdown-menu.combo-suggestions li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 1px;
            cursor: pointer;
        }

            .combo-container .dropdown-menu.combo-suggestions li:hover {
                background-color: #f0f0f0;
            }

table.dataTable thead th {
    text-align: center !important;
    vertical-align: middle !important;
}

table.dataTable_wrapper .dataTables_scrollHead thead th {
    text-align: center !important;
    vertical-align: middle !important;
}

table.dataTable.fixedHeader-floating thead th {
    text-align: center !important;
    vertical-align: middle !important;
}

.btn-info {
    background-color: #389938 !important;
    border-color: #389938 !important;
}

    .btn-info:hover {
        background-color: #88D388 !important;
        border-color: #88D388 !important;
    }

    .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
        color: #fff;
        background-color: #88D388 !important;
        border-color: #88D388 !important;
    }
    .btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
        color: #fff;
        background-color: #88D388 !important;
        border-color: #88D388 !important;
    }

@media (max-width: 767px) {
    .modal-dialog {
        margin: 10px auto;
        width: 95%;
    }

    .control-label {
        text-align: left !important;
        margin-bottom: 5px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .calendar-button {
        margin-top: 5px;
        display: inline-block;
    }
}
