<footer class="main-footer footer-custom-userAuthentication">
    <div class="container">
        <div class="" style="color: #ffffff">
            <label><img src="~/Images/logo/liteclerklogo.png" style="height:15px; margin-bottom:6px;" /></label>
            <label class="label-footer">© 2021, Liteclerk Corporation</label>
        </div>
    </div>
</footer>