<style>
    .main-footer {
        background: none;
        padding: 0;
        border-top: 1px solid #d2d6de;
    }
    .footer-custom-userAuthentication {
        background-color: lightgray !important;
        color: white;
        padding: 10px 0;
        width: 100%;
        box-sizing: border-box;
    }
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Space between image and text */
        flex-wrap: wrap; /* Wrap on small screens */
    }
        .footer-content img {
            height: 40px;
            opacity: 0.7;
        }
    .label-footer {
        color: darkslategray;
        font-size: 14px;
        margin: 0;
    }
</style>

<footer class="main-footer footer-custom-userAuthentication">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-content">
                    <img src="~/Images/logo/STREETSMART.png" alt="Logo" />
                    <label class="label-footer">© 2025, Streetsmart Corporation</label>
                </div>
            </div>
        </div>
    </div>
</footer>
