@*@model easyfis.Entities.MstUserForm*@
@{
    // =====================
    // User Rights Variables
    // =====================
    //var canAdd = Model.CanAdd;
    //var canEdit = Model.CanEdit;
    //var canDelete = Model.CanDelete;
    //var canLock = Model.CanLock;
    //var canUnlock = Model.CanUnlock;
    //var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>Collection Detail</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @Styles.Render("~/Content/Software-css")
    <style>
        .calendar-button {
            position: absolute;
            right: 14px;
            top: 52%;
            transform: translateY(-50%);
            font-size: 18px;
            background: transparent;
            border: none;
            color: #329494;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <div class="container">
                <h3>
                    💰 Collection Detail
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        Options: Lock, Unlock, and Close Button
                    -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnDetailSave" onclick="saveRecord()">💾 Save</button>
                            </div>
                            <div class="col-md-10" align="right">
                                <button class="btn btn-primary" id="btnDetailLock" onclick="lockRecord()">🔒 Lock</button>
                                <button class="btn btn-info" id="btnDetailPrint" onclick="printRecord()">🖨️ Print</button>
                                <button class="btn btn-primary" id="btnDetailUnlock" onclick="unlockRecord()">🔓 Unlock</button>
                                <button class="btn btn-danger" id="btnDetailClose" onclick="closeDetail()">🗙 Close</button>
                            </div>
                        </div>
                    </div>

                    <!--
                        Details, Fields and Other Informations
                    -->
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Coll. No.</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="collectionNumber" placeholder="Coll. No." disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Coll. Date</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="collectionDateInput" class="form-control custom-date" placeholder="Select date" />
                                            <button type="button" class="calendar-button" data-target="#collectionDateInput" tabindex="-1">📅</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Client</label>
                                        <div class="col-sm-6">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="collectionClientId"
                                                       data-url="/api/collection/list/client"
                                                       data-value-field="Id"
                                                       data-text-field="ClientName"
                                                       data-display-fields="ClientName"
                                                       data-placeholder="Select client..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Remarks</label>
                                        <div class="col-sm-8">
                                            <textarea id="collectionRemarks" class="textarea-custom form-control" rows="2" placeholder="Remarks..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="collectionAmount" placeholder="0.00" disabled />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:40px;">
                                        <div class="col-md-4">
                                            <p>Created by:</p>
                                            <div style="padding-left: 10px;">
                                                <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                                <br />
                                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-4">
                                            <p>Updated by:</p>
                                            <div style="padding-left: 10px;">
                                                <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                                <br />
                                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10" align="right">
                                    <button class="btn btn-primary" id="btnDetailAdd" onclick="addLineRecord()" style="margin-right: 15px; margin-bottom: 5px;">🞧 Add  </button>
                                </div>
                            </div>
                            <hr style="margin: 0 15px; " />
                        </div>
                        <table id="datagridList" class="table table-striped table-bordered">
                            <thead>
                                <tr class="selected">
                                    <th></th>
                                    <th>SI Number</th>
                                    <th>Pay Type</th>
                                    <th>Amount</th>
                                    <th>Bank</th>
                                    <th>Check No.</th>
                                    <th>Check Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="3" style="text-align: right;">Total :</th>
                                    <th class="text-right" id="amountTotalFooter"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!--
        Line : Detail Modal
    -->
    <div class="modal fade" id="lineEdit" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="lineModalTitle">Collection Line Detail</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <span id="lineLoading"></span>
                    </center>
                    <div id="lineContent">
                        <br />
                        <div class="tab-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" id="lineId" />
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">SI No.</label>
                                        <div class="col-sm-7">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="lineSalesId"
                                                       data-url="/api/collectionLine/list/salesInvoice/{clientId}"
                                                       data-client-id="1"
                                                       data-value-field="Id"
                                                       data-text-field="SalesNumber"
                                                       data-display-fields="SalesNumber,SalesDate,BalanceAmount"
                                                       data-placeholder="Select sales invoice..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Pay Type</label>
                                        <div class="col-sm-7">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="linePayTypeId"
                                                       data-url="/api/collectionLine/list/paytype"
                                                       data-value-field="Id"
                                                       data-text-field="PayType"
                                                       data-display-fields="PayType"
                                                       data-placeholder="Select pay type..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="lineAmount" placeholder="0.00" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Bank</label>
                                        <div class="col-sm-7">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="lineBankId"
                                                       data-url="/api/collectionLine/list/bank"
                                                       data-value-field="Id"
                                                       data-text-field="Bank"
                                                       data-display-fields="Bank"
                                                       data-placeholder="Select bank..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Check No.</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="lineCheckNumber" placeholder="Check No." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Check Date</label>
                                        <div class="col-sm-7">
                                            <input type="text" id="lineCheckDateInput" class="form-control custom-date" placeholder="Select date" />
                                            <button type="button" class="calendar-button" data-target="#lineCheckDateInput" tabindex="-1">📅</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnLineSave" class="btn btn-primary" onclick="saveLineRecord()">💾 Save</button>
                        <button id="btnLineCloseModal" class="btn btn-danger" data-dismiss="modal">🗙 Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        Line Confirm Delete Modal
    -->
    <div class="modal fade" id="deleteLineConfirmModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Delete Line Record?
                </div>
                <div class="modal-footer">
                    <button id="btnLineConfirmDelete" class="btn btn-danger" onclick="confirmDeleteLineRecord()">🗑 Delete</button>
                    <button id="btnLineCloseConfirmDelete" class="btn btn-primary" data-dismiss="modal">🗙 Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript">
        var isLocked = false;
        var _lineId = 0;
        var cbClientId = 0;

        // Get URL Parameter Value
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // Get Collection Detail Data
        function getDetailData() {
            Loader.show();

            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/collection/detail/' + getURLParameterValue("id"),
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results != null) {
                            document.getElementById('collectionNumber').value = results.CollectionNumber;

                            const collectionDate = new Date(results.CollectionDate);
                            const formattedCollectionDate = collectionDate.getFullYear() + '-' +
                                String(collectionDate.getMonth() + 1).padStart(2, '0') + '-' +
                                String(collectionDate.getDate()).padStart(2, '0');
                            document.querySelector("#collectionDateInput")._flatpickr.setDate(formattedCollectionDate);

                            const $input = $('#collectionClientId');
                            $input.val(results.Client).data('selected-id', results.ClientId);
                            cbClientId = results.ClientId;
                            document.getElementById('collectionRemarks').value = results.Remarks;
                            document.getElementById('collectionAmount').value = parseFloat(results.CollectionAmount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');;
                            document.getElementById('createdBy').innerHTML = results.CreatedBy;
                            document.getElementById('createdDate').innerHTML = results.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = results.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = results.UpdatedDateTime;

                            if (results.IsLocked) {
                                document.getElementById('collectionDateInput').disabled = true;
                                document.getElementById('collectionClientId').disabled = true;
                                document.getElementById('collectionRemarks').disabled = true;

                                $('#btnDetailSave').prop('disabled', true);
                                $('#btnDetailLock').prop('disabled', true);
                                $('#btnDetailAdd').prop('disabled', true);

                                isLocked = true;
                            } else {
                                $('#btnDetailUnlock').prop('disabled', true);
                            }
                        } else {
                            alert("No Data");
                            window.location = "/Software/SalesInvoiceList";
                        }
                    }
                });
            } else {
                alert("No Id Parameter Value");
                window.location = "/Software/SalesInvoiceList";
            }

            populateLines();

            setTimeout(() => {
                Loader.hide();
            }, 1000);
        }

        function populateLines() {
            if ($.fn.DataTable.isDataTable('#datagridList')) {
                $('#datagridList').DataTable().clear().destroy();
            }

            $('#datagridList tbody').off('click').on('click', 'tr', function () {
                $('#datagridList tbody tr').removeClass('selected');
                $(this).addClass('selected');
            });

            let table = $('#datagridList').DataTable({
                ajax: {
                    url: '/api/collectionLine/list/' + getURLParameterValue("id"),
                    dataSrc: '',
                },
                columns: [
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" onclick="editLineRecord(' + row.Id + ')">📝 Edit</button>';
                        }, width: '8%'
                    },
                    { data: 'SalesNumber', className: 'text-left', width: 'auto' },
                    { data: 'PayType', className: 'text-left', width: 'auto' },
                    {
                        data: 'Amount',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                            }
                            return data;
                        },
                        width: '15%'
                    },
                    { data: 'Bank', className: 'text-left', width: 'auto' },
                    { data: 'CheckNumber', className: 'text-left', width: 'auto' },
                    {
                        data: 'CheckDate',
                        render: function (data, type, row) {
                            if (!data) return '';
                            const date = new Date(data);
                            return date.getFullYear() + '-' +
                                String(date.getMonth() + 1).padStart(2, '0') + '-' +
                                String(date.getDate()).padStart(2, '0');
                        }, className: 'text-left', width: '10%'
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger btn-sm" onclick="deleteLineRecord(' + row.Id + ',' + row.CollectionId + ')">🗑 Delete</button>';
                        }, width: '8%'
                    }
                ],
                columnDefs: [
                    { targets: 1, className: 'text-left' },
                    { targets: [0, 7], orderable: false }
                ],
                pageLength: 10,
                responsive: true,
                language: {
                    search: "Search :  ",
                    emptyTable: "No record(s) available",
                    lengthMenu: "_MENU_ Records per page",
                    info: "_START_ - _END_ of _TOTAL_ record(s) is displayed"
                },
                footerCallback: function (row, data, start, end, display) {
                    const api = this.api();

                    let total = api
                        .column(3, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a || 0) + parseFloat(b || 0);
                        }, 0);

                    $(api.column(3).footer()).html(
                        total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                    );

                    document.getElementById('collectionAmount').value = total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                },
                drawCallback: function () {
                    if (isLocked) {
                        $('#datagridList tbody tr')
                            .find('input, select, textarea, button')
                            .prop('disabled', true)
                            .css({
                                'pointer-events': 'none',
                                'opacity': '0.5'
                            });
                    }
                }
            });
        }


        // Detail Data Object
        function detailDataObject() {
            var detailObject = new Object();
            detailObject.CollectionNumber = document.getElementById('collectionNumber').value;
            detailObject.CollectionDate = document.getElementById('collectionDateInput').value;
            const selectedId = $('#collectionClientId').data('selected-id');
            detailObject.ClientId = selectedId;
            detailObject.Remarks = document.getElementById('collectionRemarks').value;
            detailObject.CollectionAmount = document.getElementById('collectionAmount').value;
            var data = JSON.stringify(detailObject);
            return data;
        }

        // Save Collection
        function saveRecord() {
            document.getElementById('btnDetailSave').innerHTML = "💾 Saving...";
            $('#btnDetailSave').prop('disabled', true);
            $('#btnDetailLock').prop('disabled', true);
            $('#btnDetailUnlock').prop('disabled', true);
            $('#btnDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/collection/save/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: detailDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Save Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailSave').innerHTML = "💾 Save";
                        $("#btnDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnDetailLock").prop("disabled", false);
                        }

                        $("#btnDetailClose").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailSave').innerHTML = "💾 Save";
                        $("#btnDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnDetailLock").prop("disabled", false);
                        }

                        $("#btnDetailClose").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailSave').innerHTML = "💾 Save";
                        $("#btnDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnDetailLock").prop("disabled", false);
                        }

                        $("#btnDetailClose").prop("disabled", false);
                    }
                },
            });
        }

        // Lock Collection
        function lockRecord() {
            document.getElementById('btnDetailLock').innerHTML = "🔒 Locking...";
            $('#btnDetailSave').prop('disabled', true);
            $('#btnDetailLock').prop('disabled', true);
            $('#btnDetailUnlock').prop('disabled', true);
            $('#btnDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/collection/lock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: detailDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Lock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailLock').innerHTML = "🔒 Lock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailLock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailLock').innerHTML = "🔒 Lock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailLock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailLock').innerHTML = "🔒 Lock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailLock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    }
                },
            });
        }

        // Unlock Collection
        function unlockRecord() {
            document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlocking...";
            $('#btnDetailSave').prop('disabled', true);
            $('#btnDetailLock').prop('disabled', true);
            $('#btnDetailUnlock').prop('disabled', true);
            $('#btnDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/collection/unlock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Unlock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailUnlock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailUnlock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailUnlock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    }
                }
            });
        }

        // Print Collection
        function printRecord() {
            var collectionId = getURLParameterValue("id");

            var printLink = '/RepCollection/Collection?CollectionId=' + collectionId;
            window.open(printLink, '_blank');
        }

        // Add Collection Line
        function addLineRecord() {
            _lineId = 0;
            $('#lineEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $("#lineLoading").show();
            document.getElementById("lineLoading").innerHTML = 'Loading...';
            $("#lineContent").hide();

            document.getElementById("lineModalTitle").innerHTML = 'Add Collection Line';

            document.getElementById('btnLineSave').innerHTML = "💾 Save";
            $("#btnLineSave").prop("disabled", true);
            $("#btnLineCloseModal").prop("disabled", false);

            const selectedItem = $('#collectionClientId').data('selected-item');
            const clientId = selectedItem ? selectedItem.Id : cbClientId;

            $('#lineSalesId').val('');
            $('#linePayTypeId').val('');
            $('#lineBankId').val('');
            $('#lineCheckNumber').val('');
            $('#lineCheckDateInput').val('');
            initializeDate();

            // Call the function with the ID
            enableDisableSalesInvoiceCombobox(clientId);
            document.getElementById('lineAmount').value = formatDecimalValues(1);

            $("#lineLoading").hide();
            $("#lineContent").show();
            $("#btnLineSave").prop("disabled", false);
        }

        // Edit Collection Line
        function editLineRecord(lineId) {
            $('#lineEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $("#lineLoading").show();
            document.getElementById("lineLoading").innerHTML = 'Loading...';
            $("#lineContent").hide();

            document.getElementById("lineModalTitle").innerHTML = 'Edit Collection Line';

            document.getElementById('btnLineSave').innerHTML = "💾 Save";
            $("#btnLineSave").prop("disabled", true);
            $("#btnLineCloseModal").prop("disabled", false);

            $.ajax({
                url: '/api/collectionLine/detail/' + lineId + '/' + getURLParameterValue("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results != null) {
                        const $inputSalesId = $('#lineSalesId');
                        const $inputPayTypeId = $('#linePayTypeId');
                        const $inputBankId = $('#lineBankId');

                        document.getElementById('lineId').value = results.Id;
                        _lineId = results.Id;
                        $inputSalesId.val(results.SalesNumber).data('selected-id', results.SalesId);
                        $inputPayTypeId.val(results.PayType).data('selected-id', results.PayTypeId);
                        $inputBankId.val(results.Bank).data('selected-id', results.BankId);
                        document.getElementById('lineAmount').value = formatDecimalValues(results.Amount);
                        document.getElementById('lineCheckNumber').value = results.CheckNumber;
                        const lineCheckDate = new Date(results.CheckDate);
                        const formattedCheckDate = lineCheckDate.getFullYear() + '-' +
                            String(lineCheckDate.getMonth() + 1).padStart(2, '0') + '-' +
                            String(lineCheckDate.getDate()).padStart(2, '0');
                        document.querySelector("#lineCheckDateInput")._flatpickr.setDate(formattedCheckDate);

                        $("#btnLineSave").prop("disabled", false);
                        $("#lineLoading").hide();
                        $("#lineContent").show();
                    } else {
                        alert("No Data");
                        window.location = "/Software/CollectionList";
                    }
                }
            });
        }

        // Save Collection Line
        function saveLineRecord() {
            const selectedSalesId = $('#lineSalesId').data('selected-id');
            const selectedPayTypeId = $('#linePayTypeId').data('selected-id');
            const selectedBankId = $('#lineBankId').data('selected-id');
            var lineObject = new Object();
            var detailId = getURLParameterValue('id');
            lineObject.CollectionId = detailId;
            lineObject.SalesId = selectedSalesId;
            lineObject.PayTypeId = selectedPayTypeId;
            lineObject.BankId = selectedBankId;
            lineObject.Amount = document.getElementById('lineAmount').value;
            lineObject.CheckNumber = document.getElementById('lineCheckNumber').value;
            lineObject.CheckDate = document.getElementById('lineCheckDateInput').value;
            var lineData = JSON.stringify(lineObject);

            document.getElementById('btnLineSave').innerHTML = "💾 Saving...";
            $("#btnLineSave").prop("disabled", true);
            $("#btnLineCloseModal").prop("disabled", true);

            if (_lineId == 0) {
                $.ajax({
                    type: "POST",
                    url: '/api/collectionLine/add/' + detailId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: lineData,
                    statusCode: {
                        200: function () {
                            toastr.success("Save Succesful", "", { positionClass: "toast-bottom-right" });
                            $('#lineEdit').modal('hide');
                            Loader.show();
                            populateLines();
                            setTimeout(() => {
                                Loader.hide();
                            }, 1000);
                        },
                        404: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        400: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        500: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        }
                    }
                });
            } else {
                $.ajax({
                    type: "PUT",
                    url: '/api/collectionLine/update/' + _lineId + '/' + detailId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: lineData,
                    statusCode: {
                        200: function () {
                            toastr.success("Update Successful", "", { positionClass: "toast-bottom-right" });
                            $('#lineEdit').modal('hide');
                            Loader.show();
                            populateLines();
                            setTimeout(() => {
                                Loader.hide();
                            }, 1000);
                        },
                        404: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        400: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        500: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        }
                    }
                });
            }
        }

        // Delete Collection Line
        var delLineId = 0;
        var delDetailId = 0;
        function deleteLineRecord(lineId, detailId) {
            delLineId = lineId;
            delDetailId = detailId;
            $('#deleteLineConfirmModal').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
            $("#btnLineConfirmDelete").prop("disabled", false);
            $("#btnLineCloseConfirmDelete").prop("disabled", false);
        }

        // Delete Confirm Collection Line
        function confirmDeleteLineRecord() {
            document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Deleting...";
            $("#btnLineConfirmDelete").prop("disabled", true);
            $("#btnLineCloseConfirmDelete").prop("disabled", true);

            $.ajax({
                url: '/api/collectionLine/delete/' + delLineId + '/' + delDetailId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful", "", { positionClass: "toast-bottom-right" });
                        $('#deleteLineConfirmModal').modal('hide');
                        Loader.show();
                        populateLines();
                        setTimeout(() => {
                            Loader.hide();
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnLineConfirmDelete").prop("disabled", false);
                        $("#btnLineCloseConfirmDelete").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnLineConfirmDelete").prop("disabled", false);
                        $("#btnLineCloseConfirmDelete").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnLineConfirmDelete").prop("disabled", false);
                        $("#btnLineCloseConfirmDelete").prop("disabled", false);
                    }
                }
            });
        }

        $('#lineSalesId').on('change', function () {
            const list = $(this).data('selected-item');
            if (list) {
                $('#lineAmount').val(formatDecimalValues(list.BalanceAmount)); // Assign to hidden or display field
            }
        });

        // Close Collection Detail
        function closeDetail() {
            window.location = '/Software/CollectionList';
        }

        function initializeDate() {
            const today = new Date();

            flatpickr("#collectionDateInput", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                minDate: "1753-01-01",
                maxDate: "9999-12-31",
                disableMobile: true
            });

            flatpickr("#lineCheckDateInput", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                minDate: "1753-01-01",
                maxDate: "9999-12-31",
                disableMobile: true
            });

            getDetailData();
        }

        document.querySelectorAll('.calendar-button').forEach(function (btn) {
            btn.addEventListener('click', function () {
                const targetInput = document.querySelector(this.dataset.target);
                if (targetInput && targetInput._flatpickr) {
                    targetInput._flatpickr.open();
                }
            });
        });

        $(document).on("change", "#collectionClientId", function () {
            const $clientInput = $(this);
            const selectedItem = $clientInput.data("selected-item"); // set in your combobox.js
            const clientId = selectedItem ? selectedItem.Id : null;

            const $salesInput = $("#lineSalesId");

            if (clientId) {
                // Update clientId
                $salesInput.data("clientId", clientId);

                // Clear old value
                $salesInput.val("")
                    .removeAttr("data-selected-id")
                    .removeData("selected-item")
                    .trigger("change");
            } else {
                // Reset
                $salesInput.data("clientId", null);
                $salesInput.val("")
                    .removeAttr("data-selected-id")
                    .removeData("selected-item")
                    .trigger("change");
            }
        });

        function enableDisableSalesInvoiceCombobox(clientId) {
            const $salesInput = $("#lineSalesId");
            const urlTemplate = $salesInput.data("url");
            const url = urlTemplate.replace("{clientId}", clientId);

            if (!clientId) {
                // No client selected → disable input
                $salesInput.prop("disabled", true);
                return;
            }

            $.getJSON(url, function (data) {
                if (!data || data.length === 0) {
                    $salesInput.prop("disabled", true);
                } else {
                    $salesInput.prop("disabled", false);
                }
            }).fail(function () {
                $salesInput.prop("disabled", true);
            });
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            initializeDate();
            initComboBoxes();
        });
    </script>
    <div id="loader-overlay">
        <div class="loader-circle"></div>
    </div>
</body>
</html>