@*@model easyfis.Entities.MstUserForm*@
@{
    // =====================
    // User Rights Variables
    // =====================
    //var canAdd = Model.CanAdd;
    //var canEdit = Model.CanEdit;
    //var canDelete = Model.CanDelete;
    //var canLock = Model.CanLock;
    //var canUnlock = Model.CanUnlock;
    //var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>Disbursement Detail</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @Styles.Render("~/Content/Software-css")
    <style>
        .calendar-button {
            position: absolute;
            right: 14px;
            top: 52%;
            transform: translateY(-50%);
            font-size: 18px;
            background: transparent;
            border: none;
            color: #329494;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <div class="container">
                <h3>
                    📉 Disbursement Detail
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        Options: Lock, Unlock, and Close Button
                    -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnDetailSave" onclick="saveRecord()">💾 Save</button>
                            </div>
                            <div class="col-md-10" align="right">
                                <button class="btn btn-primary" id="btnDetailLock" onclick="lockRecord()">🔒 Lock</button>
                                <button class="btn btn-info" id="btnDetailPrint" onclick="printRecord()">🖨️ Print</button>
                                <button class="btn btn-primary" id="btnDetailUnlock" onclick="unlockRecord()">🔓 Unlock</button>
                                <button class="btn btn-danger" id="btnDetailClose" onclick="closeDetail()">🗙 Close</button>
                            </div>
                        </div>
                    </div>

                    <!--
                        Details, Fields and Other Informations
                    -->
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">CV No.</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="cvNumber" placeholder="CV No." disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">CV Date</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="cvDateInput" class="form-control custom-date" placeholder="Select date" />
                                            <button type="button" class="calendar-button" data-target="#cvDateInput" tabindex="-1">📅</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Supplier</label>
                                        <div class="col-sm-6">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="cvSupplierId"
                                                       data-url="/api/disbursement/list/supplier"
                                                       data-value-field="Id"
                                                       data-text-field="SupplierName"
                                                       data-display-fields="SupplierName"
                                                       data-placeholder="Select supplier..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Remarks</label>
                                        <div class="col-sm-8">
                                            <textarea id="cvRemarks" class="textarea-custom form-control" rows="2" placeholder="Remarks..."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Pay Type</label>
                                        <div class="col-sm-6">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="cvPayTypeId"
                                                       data-url="/api/disbursement/list/paytype"
                                                       data-value-field="Id"
                                                       data-text-field="PayType"
                                                       data-display-fields="PayType"
                                                       data-placeholder="Select pay type..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Bank</label>
                                        <div class="col-sm-6">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="cvBankId"
                                                       data-url="/api/disbursement/list/bank"
                                                       data-value-field="Id"
                                                       data-text-field="Bank"
                                                       data-display-fields="Bank"
                                                       data-placeholder="Select bank..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Check No.</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="cvCheckNumber" placeholder="Check No." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Check Date</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="cvCheckDateInput" class="form-control custom-date" placeholder="Select date" />
                                            <button type="button" class="calendar-button" data-target="#cvCheckDateInput" tabindex="-1">📅</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="cvAmount" placeholder="0.00" disabled />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:40px;">
                                        <div class="col-md-4">
                                            <p>Created by:</p>
                                            <div style="padding-left: 10px;">
                                                <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                                <br />
                                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-4">
                                            <p>Updated by:</p>
                                            <div style="padding-left: 10px;">
                                                <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                                <br />
                                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10" align="right">
                                    <button class="btn btn-primary" id="btnDetailAdd" onclick="addLineRecord()" style="margin-right: 15px; margin-bottom: 5px;">🞧 Add  </button>
                                </div>
                            </div>
                            <hr style="margin: 0 15px; " />
                        </div>
                        <table id="datagridList" class="table table-striped table-bordered">
                            <thead>
                                <tr class="selected">
                                    <th></th>
                                    <th>Expense</th>
                                    <th>Particulars</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="3" style="text-align: right;">Total :</th>
                                    <th class="text-right" id="amountTotalFooter"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!--
        Line : Detail Modal
    -->
    <div class="modal fade" id="lineEdit" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="lineModalTitle">Disbursement Line Detail</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <span id="lineLoading"></span>
                    </center>
                    <div id="lineContent">
                        <br />
                        <div class="tab-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" id="lineId" />
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Expense</label>
                                        <div class="col-sm-7">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="lineExpenseId"
                                                       data-url="/api/disbursementLine/list/expense"
                                                       data-value-field="Id"
                                                       data-text-field="ExpenseName"
                                                       data-display-fields="ExpenseName"
                                                       data-placeholder="Select expense..."
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <span class="combo-toggle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M1.5 5.5l6 6 6-6H1.5z" />
                                                    </svg>
                                                </span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Particulars</label>
                                        <div class="col-sm-7">
                                            <textarea id="lineParticulars" class="textarea-custom form-control" rows="3" placeholder="Particulars..."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="lineAmount" placeholder="0.00" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnLineSave" class="btn btn-primary" onclick="saveLineRecord()">💾 Save</button>
                        <button id="btnLineCloseModal" class="btn btn-danger" data-dismiss="modal">🗙 Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        Line Confirm Delete Modal
    -->
    <div class="modal fade" id="deleteLineConfirmModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Delete Line Record?
                </div>
                <div class="modal-footer">
                    <button id="btnLineConfirmDelete" class="btn btn-danger" onclick="confirmDeleteLineRecord()">🗑 Delete</button>
                    <button id="btnLineCloseConfirmDelete" class="btn btn-primary" data-dismiss="modal">🗙 Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript">
        var isLocked = false;
        var _lineId = 0;

        // Get URL Parameter Value
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // Get Disbursement Detail Data
        function getDetailData() {
            Loader.show();

            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/disbursement/detail/' + getURLParameterValue("id"),
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results != null) {
                            document.getElementById('cvNumber').value = results.DisbursementNumber;

                            const cvDate = new Date(results.DisbursementDate);
                            const formattedDisbursementDate = cvDate.getFullYear() + '-' +
                                String(cvDate.getMonth() + 1).padStart(2, '0') + '-' +
                                String(cvDate.getDate()).padStart(2, '0');
                            document.querySelector("#cvDateInput")._flatpickr.setDate(formattedDisbursementDate);

                            const cvCheckDate = new Date(results.CheckDate);
                            const formattedCheckDate = cvCheckDate.getFullYear() + '-' +
                                String(cvCheckDate.getMonth() + 1).padStart(2, '0') + '-' +
                                String(cvCheckDate.getDate()).padStart(2, '0');
                            document.querySelector("#cvCheckDateInput")._flatpickr.setDate(formattedCheckDate);

                            const $input = $('#cvSupplierId');
                            $input.val(results.Supplier).data('selected-id', results.SupplierId);
                            const $inputPayTypeId = $('#cvPayTypeId');
                            $inputPayTypeId.val(results.PayType).data('selected-id', results.PayTypeId);
                            const $inputBankId = $('#cvBankId');
                            $inputBankId.val(results.Bank).data('selected-id', results.BankId);
                            document.getElementById('cvRemarks').value = results.Remarks;
                            document.getElementById('cvCheckNumber').value = results.Remarks;
                            document.getElementById('cvAmount').value = parseFloat(results.DisbursementAmount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');;
                            document.getElementById('createdBy').innerHTML = results.CreatedBy;
                            document.getElementById('createdDate').innerHTML = results.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = results.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = results.UpdatedDateTime;

                            if (results.IsLocked) {
                                document.getElementById('cvDateInput').disabled = true;
                                document.getElementById('cvCheckDateInput').disabled = true;
                                document.getElementById('cvSupplierId').disabled = true;
                                document.getElementById('cvPayTypeId').disabled = true;
                                document.getElementById('cvBankId').disabled = true;
                                document.getElementById('cvCheckNumber').disabled = true;
                                document.getElementById('cvRemarks').disabled = true;

                                $('#btnDetailSave').prop('disabled', true);
                                $('#btnDetailLock').prop('disabled', true);
                                $('#btnDetailAdd').prop('disabled', true);

                                isLocked = true;
                            } else {
                                $('#btnDetailUnlock').prop('disabled', true);
                            }
                        } else {
                            alert("No Data");
                            window.location = "/Software/DisbursementList";
                        }
                    }
                });
            } else {
                alert("No Id Parameter Value");
                window.location = "/Software/DisbursementList";
            }

            populateLines();

            setTimeout(() => {
                Loader.hide();
            }, 1000);
        }

        function populateLines() {
            if ($.fn.DataTable.isDataTable('#datagridList')) {
                $('#datagridList').DataTable().clear().destroy();
            }

            $('#datagridList tbody').off('click').on('click', 'tr', function () {
                $('#datagridList tbody tr').removeClass('selected');
                $(this).addClass('selected');
            });

            let table = $('#datagridList').DataTable({
                ajax: {
                    url: '/api/disbursementLine/list/' + getURLParameterValue("id"),
                    dataSrc: '',
                },
                columns: [
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" onclick="editLineRecord(' + row.Id + ')">📝 Edit</button>';
                        }, width: '8%'
                    },
                    { data: 'Expense', className: 'text-left', width: 'auto' },
                    { data: 'Particulars', className: 'text-left', width: 'auto' },
                    {
                        data: 'Amount',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                            }
                            return data;
                        },
                        width: '15%'
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger btn-sm" onclick="deleteLineRecord(' + row.Id + ',' + row.DisbursementId + ')">🗑 Delete</button>';
                        }, width: '8%'
                    }
                ],
                columnDefs: [
                    { targets: 1, className: 'text-left' },
                    { targets: [0, 4], orderable: false }
                ],
                pageLength: 10,
                responsive: true,
                language: {
                    search: "Search :  ",
                    emptyTable: "No record(s) available",
                    lengthMenu: "_MENU_ Records per page",
                    info: "_START_ - _END_ of _TOTAL_ record(s) is displayed"
                },
                footerCallback: function (row, data, start, end, display) {
                    const api = this.api();

                    let total = api
                        .column(3, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a || 0) + parseFloat(b || 0);
                        }, 0);

                    $(api.column(3).footer()).html(
                        total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                    );

                    document.getElementById('cvAmount').value = total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                },
                drawCallback: function () {
                    if (isLocked) {
                        $('#datagridList tbody tr')
                            .find('input, select, textarea, button')
                            .prop('disabled', true)
                            .css({
                                'pointer-events': 'none',
                                'opacity': '0.5'
                            });
                    }
                }
            });
        }


        // Detail Data Object
        function detailDataObject() {
            var detailObject = new Object();
            detailObject.DisbursementNumber = document.getElementById('cvNumber').value;
            detailObject.DisbursementDate = document.getElementById('cvDateInput').value;
            detailObject.CheckDate = document.getElementById('cvCheckDateInput').value;
            const selectedId = $('#cvSupplierId').data('selected-id');
            const selectedPayTypeId = $('#cvPayTypeId').data('selected-id');
            const selectedBankId = $('#cvBankId').data('selected-id');
            detailObject.SupplierId = selectedId;
            detailObject.PayTypeId = selectedPayTypeId;
            detailObject.BankId = selectedBankId;
            detailObject.Remarks = document.getElementById('cvRemarks').value;
            detailObject.CheckNumber = document.getElementById('cvCheckNumber').value;
            detailObject.DisbursementAmount = document.getElementById('cvAmount').value;
            var data = JSON.stringify(detailObject);
            return data;
        }

        // Save Disbursement
        function saveRecord() {
            document.getElementById('btnDetailSave').innerHTML = "💾 Saving...";
            $('#btnDetailSave').prop('disabled', true);
            $('#btnDetailLock').prop('disabled', true);
            $('#btnDetailUnlock').prop('disabled', true);
            $('#btnDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/disbursement/save/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: detailDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Save Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailSave').innerHTML = "💾 Save";
                        $("#btnDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnDetailLock").prop("disabled", false);
                        }

                        $("#btnDetailClose").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailSave').innerHTML = "💾 Save";
                        $("#btnDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnDetailLock").prop("disabled", false);
                        }

                        $("#btnDetailClose").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailSave').innerHTML = "💾 Save";
                        $("#btnDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnDetailLock").prop("disabled", false);
                        }

                        $("#btnDetailClose").prop("disabled", false);
                    }
                },
            });
        }

        // Lock Disbursement
        function lockRecord() {
            document.getElementById('btnDetailLock').innerHTML = "🔒 Locking...";
            $('#btnDetailSave').prop('disabled', true);
            $('#btnDetailLock').prop('disabled', true);
            $('#btnDetailUnlock').prop('disabled', true);
            $('#btnDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/disbursement/lock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: detailDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Lock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailLock').innerHTML = "🔒 Lock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailLock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailLock').innerHTML = "🔒 Lock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailLock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailLock').innerHTML = "🔒 Lock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailLock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    }
                },
            });
        }

        // Unlock Disbursement
        function unlockRecord() {
            document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlocking...";
            $('#btnDetailSave').prop('disabled', true);
            $('#btnDetailLock').prop('disabled', true);
            $('#btnDetailUnlock').prop('disabled', true);
            $('#btnDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/disbursement/unlock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Unlock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailUnlock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailUnlock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnDetailSave').prop('disabled', false);
                        $('#btnDetailUnlock').prop('disabled', false);
                        $('#btnDetailClose').prop('disabled', false);
                    }
                }
            });
        }

        // Print Disbursement
        function printRecord() {
            var disbursementId = getURLParameterValue("id");

            var printLink = '/RepDisbursement/Disbursement?DisbursementId=' + disbursementId;
            window.open(printLink, '_blank');
        }

        // Add Disbursement Line
        function addLineRecord() {
            _lineId = 0;
            $('#lineEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $("#lineLoading").show();
            document.getElementById("lineLoading").innerHTML = 'Loading...';
            $("#lineContent").hide();

            document.getElementById("lineModalTitle").innerHTML = 'Add Disbursement Line';

            document.getElementById('btnLineSave').innerHTML = "💾 Save";
            $("#btnLineSave").prop("disabled", true);
            $("#btnLineCloseModal").prop("disabled", false);

            $('#lineExpenseId').val('');
            document.getElementById('lineParticulars').value = "NA";
            document.getElementById('lineAmount').value = formatDecimalValues(1);

            $("#lineLoading").hide();
            $("#lineContent").show();
            $("#btnLineSave").prop("disabled", false);
        }

        // Edit Disbursement Line
        function editLineRecord(lineId) {
            $('#lineEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $("#lineLoading").show();
            document.getElementById("lineLoading").innerHTML = 'Loading...';
            $("#lineContent").hide();

            document.getElementById("lineModalTitle").innerHTML = 'Edit Disbursement Line';

            document.getElementById('btnLineSave').innerHTML = "💾 Save";
            $("#btnLineSave").prop("disabled", true);
            $("#btnLineCloseModal").prop("disabled", false);

            $.ajax({
                url: '/api/disbursementLine/detail/' + lineId + '/' + getURLParameterValue("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results != null) {
                        const $input = $('#lineExpenseId');
                        document.getElementById('lineId').value = results.Id;
                        _lineId = results.Id;
                        $input.val(results.Expense).data('selected-id', results.ExpenseId);
                        document.getElementById('lineParticulars').value = results.Particulars;
                        document.getElementById('lineAmount').value = formatDecimalValues(results.Amount);

                        $("#btnLineSave").prop("disabled", false);
                        $("#lineLoading").hide();
                        $("#lineContent").show();
                    } else {
                        alert("No Data");
                        window.location = "/Software/DisbursementList";
                    }
                }
            });
        }

        // Save Disbursement Line
        function saveLineRecord() {
            const selectedId = $('#lineExpenseId').data('selected-id');
            var lineObject = new Object();
            var detailId = getURLParameterValue('id');
            lineObject.DisbursementId = detailId;
            lineObject.ExpenseId = selectedId;
            lineObject.Particulars = document.getElementById('lineParticulars').value;
            lineObject.Amount = document.getElementById('lineAmount').value;
            var lineData = JSON.stringify(lineObject);

            document.getElementById('btnLineSave').innerHTML = "💾 Saving...";
            $("#btnLineSave").prop("disabled", true);
            $("#btnLineCloseModal").prop("disabled", true);

            if (_lineId == 0) {
                $.ajax({
                    type: "POST",
                    url: '/api/disbursementLine/add/' + detailId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: lineData,
                    statusCode: {
                        200: function () {
                            toastr.success("Save Succesful", "", { positionClass: "toast-bottom-right" });
                            $('#lineEdit').modal('hide');
                            Loader.show();
                            populateLines();
                            setTimeout(() => {
                                Loader.hide();
                            }, 1000);
                        },
                        404: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        400: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        500: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        }
                    }
                });
            } else {
                $.ajax({
                    type: "PUT",
                    url: '/api/disbursementLine/update/' + _lineId + '/' + detailId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: lineData,
                    statusCode: {
                        200: function () {
                            toastr.success("Update Successful", "", { positionClass: "toast-bottom-right" });
                            $('#lineEdit').modal('hide');
                            Loader.show();
                            populateLines();
                            setTimeout(() => {
                                Loader.hide();
                            }, 1000);
                        },
                        404: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        400: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        },
                        500: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                            document.getElementById('btnLineSave').innerHTML = "💾 Save";
                            $("#btnLineSave").prop("disabled", false);
                            $("#btnLineCloseModal").prop("disabled", false);
                        }
                    }
                });
            }
        }

        // Delete Disbursement Line
        var delLineId = 0;
        var delDetailId = 0;
        function deleteLineRecord(lineId, detailId) {
            delLineId = lineId;
            delDetailId = detailId;
            $('#deleteLineConfirmModal').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
            $("#btnLineConfirmDelete").prop("disabled", false);
            $("#btnLineCloseConfirmDelete").prop("disabled", false);
        }

        // Delete Confirm Disbursement Line
        function confirmDeleteLineRecord() {
            document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Deleting...";
            $("#btnLineConfirmDelete").prop("disabled", true);
            $("#btnLineCloseConfirmDelete").prop("disabled", true);

            $.ajax({
                url: '/api/disbursementLine/delete/' + delLineId + '/' + delDetailId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful", "", { positionClass: "toast-bottom-right" });
                        $('#deleteLineConfirmModal').modal('hide');
                        Loader.show();
                        populateLines();
                        setTimeout(() => {
                            Loader.hide();
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnLineConfirmDelete").prop("disabled", false);
                        $("#btnLineCloseConfirmDelete").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnLineConfirmDelete").prop("disabled", false);
                        $("#btnLineCloseConfirmDelete").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnLineConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnLineConfirmDelete").prop("disabled", false);
                        $("#btnLineCloseConfirmDelete").prop("disabled", false);
                    }
                }
            });
        }
        // Close Disbursement
        function closeDetail() {
            window.location = '/Software/DisbursementList';
        }

        function initializeDate() {
            const today = new Date();

            flatpickr("#cvDateInput", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                minDate: "1753-01-01",
                maxDate: "9999-12-31",
                disableMobile: true
            });

            flatpickr("#cvCheckDateInput", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                minDate: "1753-01-01",
                maxDate: "9999-12-31",
                disableMobile: true
            });

            getDetailData();
        }

        document.querySelectorAll('.calendar-button').forEach(function (btn) {
            btn.addEventListener('click', function () {
                const targetInput = document.querySelector(this.dataset.target);
                if (targetInput && targetInput._flatpickr) {
                    targetInput._flatpickr.open();
                }
            });
        });

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            initializeDate();
            initComboBoxes();
        });
    </script>
    <div id="loader-overlay">
        <div class="loader-circle"></div>
    </div>
</body>
</html>