@*@model easyfis.Entities.MstUserForm*@
@{
// =====================
// User Rights Variables
// =====================
//var canAdd = Model.CanAdd;
//var canEdit = Model.CanEdit;
//var canDelete = Model.CanDelete;
//var canLock = Model.CanLock;
//var canUnlock = Model.CanUnlock;
//var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/liteclerkicon.ico">
    <title>Item</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap.css">
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <div class="container">
                <h3>
                    Product List
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <button class="btn btn-primary" id="btnItemAdd" onclick="btnProductAddOnclick()"><i class="fa fa-plus"></i> Add</button>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    <button class="btn btn-danger" id="btnItemClose" onclick="btnProductCloseOnclick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <table id="productList" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Code</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Create By</th>
                                <th>Created Date</th>
                                <th>Locked</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">

        // Close Product
        // ==========
        function btnProductCloseOnclick() {
            window.location = '/Software';
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            $('#productList').DataTable({
                ajax: {
                    url: '/api/product/list',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" onclick="editProduct(' + row.Id + ')">Edit</button>';
                        }
                    },
                    { data: 'ProductCode', className: 'text-left' },
                    { data: 'ProductDescription' },
                    { data: 'Price' },
                    { data: 'CreatedBy' },
                    {
                        data: 'CreatedDateTime',
                        render: function (data) {
                            return new Date(data).toLocaleDateString();
                        }
                    },
                    {
                        data: 'IsLocked',
                        className: 'dt-checkboxes',
                        render: function (data) {
                            return '<input type="checkbox" ' + (data ? 'checked' : '') + ' disabled>';
                        }
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger btn-sm" onclick="deleteProduct(' + row.Id + ')">Delete</button>';
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 1, // ProductCode column (now the second column)
                        className: 'text-left'
                    }
                ],
                pageLength: 10,
                responsive: true,
                language: {
                    search: "Filter records:",
                    emptyTable: "No data available"
                }
            });
        });
    </script>
</body>
</html>