@*@model easyfis.Entities.MstUserForm*@
@{
    // =====================
    // User Rights Variables
    // =====================
    //var canAdd = Model.CanAdd;
    //var canEdit = Model.CanEdit;
    //var canDelete = Model.CanDelete;
    //var canLock = Model.CanLock;
    //var canUnlock = Model.CanUnlock;
    //var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>Supplier Detail</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <div class="container">
                <h3>
                    Supplier Detail
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        Options: Lock, Unlock, and Close Button
                    -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnSupplierDetailSave" onclick="saveSupplier()">💾 Save</button>
                            </div>
                            <div class="col-md-10" align="right">
                                <button class="btn btn-primary" id="btnSupplierDetailLock" onclick="lockSupplier()">🔒 Lock</button>
                                <button class="btn btn-primary" id="btnSupplierDetailUnlock" onclick="unlockSupplier()">🔓 Unlock</button>
                                <button class="btn btn-danger" id="btnSupplierDetailClose" onclick="closeSupplierDetail()">🗙 Close</button>
                            </div>
                        </div>
                    </div>

                    <!--
                        Details, Fields and Other Informations
                    -->
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpSupplierDetailSupplierCode" placeholder="Code" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Supplier</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpSupplierDetailSupplierName" placeholder="Supplier" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:40px;">
                                <div class="col-md-2">
                                    <p>Created by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    <p>Updated by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        var isLocked = false;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // Get Supplier Detail Data
        function getSupplierDetailData() {
            NProgress.start();

            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/supplier/detail/' + getURLParameterValue("id"),
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results != null) {
                            document.getElementById('inpSupplierDetailSupplierCode').value = results.SupplierCode;
                            document.getElementById('inpSupplierDetailSupplierName').value = results.SupplierName;
                            document.getElementById('createdBy').innerHTML = results.CreatedBy;
                            document.getElementById('createdDate').innerHTML = results.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = results.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = results.UpdatedDateTime;

                            if (results.IsLocked) {
                                document.getElementById('inpSupplierDetailSupplierCode').disabled = true;
                                document.getElementById('inpSupplierDetailSupplierName').disabled = true;

                                $('#btnSupplierDetailSave').prop('disabled', true);
                                $('#btnSupplierDetailLock').prop('disabled', true);

                                isLocked = true;
                            } else {
                                $('#btnSupplierDetailUnlock').prop('disabled', true);
                            }
                        } else {
                            alert("No Data");
                            window.location = "/Software/SupplierList";
                        }
                    }
                });
            } else {
                alert("No Id Parameter Value");
                window.location = "/Software/SupplierList";
            }
        }

        // Supplier Data Object
        function supplierDataObject() {
            var supplierObject = new Object();
            supplierObject.SupplierCode = document.getElementById('inpSupplierDetailSupplierCode').value;
            supplierObject.SupplierName = document.getElementById('inpSupplierDetailSupplierName').value;
            var data = JSON.stringify(supplierObject);
            return data;
        }

        // Save Supplier
        function saveSupplier() {
            document.getElementById('btnSupplierDetailSave').innerHTML = "💾 Saving...";
            $('#btnSupplierDetailSave').prop('disabled', true);
            $('#btnSupplierDetailLock').prop('disabled', true);
            $('#btnSupplierDetailUnlock').prop('disabled', true);
            $('#btnSupplierDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/supplier/save/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: supplierDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Save Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailSave').innerHTML = "💾 Save";
                        $("#btnSupplierDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnSupplierDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnSupplierDetailLock").prop("disabled", false);
                        }

                        $("#btnSupplierDetailClose").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailSave').innerHTML = "💾 Save";
                        $("#btnSupplierDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnSupplierDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnSupplierDetailLock").prop("disabled", false);
                        }

                        $("#btnSupplierDetailClose").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailSave').innerHTML = "💾 Save";
                        $("#btnSupplierDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnSupplierDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnSupplierDetailLock").prop("disabled", false);
                        }

                        $("#btnSupplierDetailClose").prop("disabled", false);
                    }
                },
            });
        }

        // Lock Supplier
        function lockSupplier() {
            document.getElementById('btnSupplierDetailLock').innerHTML = "🔒 Locking...";
            $('#btnSupplierDetailSave').prop('disabled', true);
            $('#btnSupplierDetailLock').prop('disabled', true);
            $('#btnSupplierDetailUnlock').prop('disabled', true);
            $('#btnSupplierDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/supplier/lock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: supplierDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Lock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailLock').innerHTML = "🔒 Lock";
                        $('#btnSupplierDetailSave').prop('disabled', false);
                        $('#btnSupplierDetailLock').prop('disabled', false);
                        $('#btnSupplierDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailLock').innerHTML = "🔒 Lock";
                        $('#btnSupplierDetailSave').prop('disabled', false);
                        $('#btnSupplierDetailLock').prop('disabled', false);
                        $('#btnSupplierDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailLock').innerHTML = "🔒 Lock";
                        $('#btnSupplierDetailSave').prop('disabled', false);
                        $('#btnSupplierDetailLock').prop('disabled', false);
                        $('#btnSupplierDetailClose').prop('disabled', false);
                    }
                },
            });
        }

        // Unlock Supplier
        function unlockSupplier() {
            document.getElementById('btnSupplierDetailUnlock').innerHTML = "🔓 Unlocking...";
            $('#btnSupplierDetailSave').prop('disabled', true);
            $('#btnSupplierDetailLock').prop('disabled', true);
            $('#btnSupplierDetailUnlock').prop('disabled', true);
            $('#btnSupplierDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/supplier/unlock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Unlock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnSupplierDetailSave').prop('disabled', false);
                        $('#btnSupplierDetailUnlock').prop('disabled', false);
                        $('#btnSupplierDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnSupplierDetailSave').prop('disabled', false);
                        $('#btnSupplierDetailUnlock').prop('disabled', false);
                        $('#btnSupplierDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnSupplierDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnSupplierDetailSave').prop('disabled', false);
                        $('#btnSupplierDetailUnlock').prop('disabled', false);
                        $('#btnSupplierDetailClose').prop('disabled', false);
                    }
                }
            });
        }

        // Close Supplier
        function closeSupplierDetail() {
            window.location = '/Software/SupplierList';
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            getSupplierDetailData();
            NProgress.done();
        });
    </script>
</body>
</html>